bw/obj/
bw/bin/Debug/
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/362b2f81de68444b81d963c7870acdc0/mscorlib.dll
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/362b2f81de68444b81d963c7870acdc0/mscorlib.dll.mdb
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/68a31c88f05b47a7bd459580286a4738/System.Runtime.Serialization.dll
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/68a31c88f05b47a7bd459580286a4738/System.Runtime.Serialization.dll.mdb
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/8091126c9bfd4b0e92199b61a3771037/System.dll
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/8091126c9bfd4b0e92199b61a3771037/System.dll.mdb
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/a494f475d46347959e57ed813898eae8/System.Xml.dll
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/a494f475d46347959e57ed813898eae8/System.Xml.dll.mdb
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/a86ac10f92e4430489c73a1d6c0895e3/System.Core.dll
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/a86ac10f92e4430489c73a1d6c0895e3/System.Core.dll.mdb
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/b6a521737eaf40a7a3f8e353251260fe/Mono.Android.dll
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/b6a521737eaf40a7a3f8e353251260fe/Mono.Android.dll.mdb
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/e8c9a582654e4e7385a4c8944d66f1ff/Java.Interop.dll
bw/bin/Release/com.biblegamedev.bw.apk.mSYM/e8c9a582654e4e7385a4c8944d66f1ff/Java.Interop.dll.mdb
bw/bin/
